.first{
    /* position: absolute; */
    width: 100%;
    text-align:center;
}

.mycontainer{
    border: 2px solid blue;
    transition: 0.8s;
    padding-top: 40px;
    padding-inline-start: 0px;
    height: 100%;
}
.mycontainer_c{
    padding-inline-start: 200px;
}
.container-fluid{
    text-align: start;
    border: 2px solid green;
 }
 .container-fluid div{
     border: 2px solid red;
  
 }